:root {
    --black: #000;
    --gray-dark: #242121;
    --gray-light: #ebebeb;
    --white: #fff;
    --turquoise: #00a19a;
    --yellow: #ffd93a;
    --red: #d52640;
}


html {
    box-sizing: border-box;
  }

*, 
*:before, 
*:after {
    box-sizing: inherit;
  }

/** Typography */

body {
    font-family: Arial;
    color: var(--gray-dark);
    font-size: small;
    line-height: 1.4;
  }


img {
    display: block;
    max-width: 100%;
  }

/** .component */


.component image {
    max-width: initial;
    }

.component__image {
    border: 1px solid #ccc;
    overflow-x: auto;
    }

.component__code {
  border: 1px solid #ccc;
    }

.component__code h2 {
    font-size: 35px;
    line-height: .25;
    color: var(--turquoise);
    text-shadow: 1.5px 1.5px var(--yellow);
    
}

.component__code h3 {
    font-size: small;
    line-height: .25;
    font-weight: 600;
    letter-spacing: .5px;
    color: var(--red);
    text-shadow: 1.5px 1.5px var(--yellow);
}

.component__code h4 {
    font-size: x-small;
    font-weight: 200;
    color: var(--red);
}

/** Header */

.header .component__code {
    display: inline-flex;
    flex-direction: row;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    color: var(--red);
}

.header__list {
    display: inline-flex;
    flex-direction: row;
    padding-right: 20px;
    
}

.header__list  a {
    font-size: x-small;
    color: var(--red);
    text-decoration: none; 
    
}

/** Header Location Card*/

.header__location--card {
    font-size: x-small;
    text-align: center;
    line-height: .5;
    background-color: #f3f0f0;

}

.location__list {
    padding: 0;
    margin: 10px 15px 10px 15px;
}

.location__list p{
    color: var(--gray-dark);
    font-size: 100;
    line-height: .125;
}

.location__button {
    font-size: x-small;
    padding-top: 10px;
 
}

.location__button a {
    text-decoration: none;
    color: var(--red);
    background-color: var(--yellow);
    border-radius: 3px;
    padding: 3px 10px 3px 10px;
}