<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/11412f5b05.js" crossorigin="anonymous"></script>

    <title>Components | L&L Hawaiian Barbecue</title>
</head>

<body>

    <header>
        <h1>Web Components will go Here at Some Point or Whatever</h1>
    </header>

<!--TYPOGRAPY-->

        <h2>Typograpy Defaults</h2>

        <article class="component">
            <h3 class="component__name">BODY</h3>

            <div class="component__image">
                <img 
                    srcset="img/body-card__text1.png 2x"
                    src="img/body-card__text1.png" alt="Body Copy">
            </div>

            <div class="component__code">
                <p>Our specialty is a unique style of Hawaiian plate lunch, featuring two scoops of rice, a hemisphere of creamy macaroni salad, and a generous helping of an aloha-infused hot entrée.</p>
            </div>

        </article>

<!--HEADINGS-->

        <article class="component">
            <h3 class="component__name">h2, h3</h3>

            <div class="component__image">
                <img srcset="img/body-luau__title.png 2x" src="img/body-luau__title.png" alt="h2">
                <img srcset="img/body-card__title1.png 2x" src="img/body-card__title1.png" alt="h3">       
            </div>

            <div class="component__code">
                <h2>LUAU &</h2>
                <h2>LEARN</h2>
                <h3>FRANCHISE</h3>
                <h3>OPPORTUNITY</h3>
            </div>

        </article>

<!--BODY LINK-->

        <article class="component">
            <h3 class="component__link">Link</h3>

            <div class="component__image">
                <img srcset="img/body-card__browse.png 2x" src="img/body-card__browse.png" alt="Browse the Menu Button">
                        
            </div>

            <div class="component__code">
                <div class="button"><a href="#">BROWSE THE MENU</a></div>
            </div>

        </article>

<!--HEADER-->

        <article class="component">
            <h3 class="component__name">Header</h3>

            <div class="component__image">
                <img srcset="img/page-header.png 2x" src="img/page-header.png" alt="Browse the Menu Button">          
            </div>

            <div class="header">

            <div class="component__code">        
                <img srcset="img/page-header__left.png 2x" src="img/page-header__left.png" alt="Red half tone group photo">
            
                
                <a href="#"><img srcset="img/page-header-logo.png 2x" src="img/page-header-logo.png" alt="L&L Logo"></a>
                
                    <ul class="header__list">
                        <li><a href="#">LOCATIONS</a></li>
                        <li><a href="#">MENU</a></li>
                        <li><a href="#">CATERING</a></li>
                        <li><a href="#">FRANCHISE</a></li>
                        <li><a href="#">ABOUT</a></li>
                        <li><a href="#">PROMOS</a></li>
                    </ul>

                <div class="header__location--card">
                    <ul class="location__list">
                        <li>NEAREST LOCATION</li>
                        <li><p>Cannot access</p></li>
                        <li><p>location</p></li>
                        <li class="location__button"><a href="#">ORDER NOW</a></li>

                    </ul>
                </div>

            
                <img srcset="img/page-header__right.png 2x" src="img/page-header__right.png" alt="Red half tone image of a mountain by the ocean">
            </div>
            
            </div>

        </article>

<!-- HEADER STICKY MENU --> 

        <article class="component">
            <h3 class="component__link">Sticky Menu</h3>

            <div class="component__image">
                <img srcset="img/page-header__sticky.png 2x" src="img/page-header__sticky.png" alt="Sticky menu">
                        
            </div>

            <div class="component__code">
                <ul class="sticky__list">
                    <li><a href="#">Lūʻau & Learn</a></li>
                    <li class="connect"><a href="#">Connect with Us</a></li>
                    <li><a href="#">Shop L&L</a></li>
                </ul>
            </div>

        </article>


<!-- QUOTE -->

        <article class="component">
            <h3 class="component__name">Quote</h3>

            <div class="component__image">
                <img srcset="img/main-body__quote.png 2x" src="img/main-body__quote.png" alt="Red quote, A SIDE OF ALOHA WITH EVERY MEAL, on white backgournd">
                        
            </div>

            <div class="component__code">
                <p class="quote">A SIDE OF ALOHA WITH EVERY MEAL</p>
            </div>

        </article>

<!-- MAIN NAV -->


        <article class="component">
            <h3 class="component__name">Main Nav</h3>

            <div class="component__image">
                <img 
                    srcset="img/main-nav.png 2x"
                    src="img/main-nav.png" alt="Navigation list with image background">
            </div>

            <div class="component__code">
                <div class="main__nav">
                    <ul class="main__nav--list">
                        <li class="main__nav--title">HANG TEN!</li>
                        <li><a href="#">LOCATIONS</a></li>
                        <li><a href="#">FOOD</a></li>
                        <li><a href="#">CATERING</a></li>
                        <li><a href="#">FRANCHISE</a></li>
                        <li><a href="#">ABOUT</a></li>
                        <li><a href="#">COMMUNITY</a></li>
                        <li><a href="#">PROMOS</a></li>
                        <li><a href="#">CONTACT</a></li>
                    </ul>
                </div>
            </div>

        </article>

<!--MAIN CARD 1-->


        <article class="component">
            <h3 class="component__name">Main Card 1</h3>

            <div class="component__image">
                <img 
                    srcset="img/body-card__plates.png 2x"
                    src="img/body-card__plates.png" alt="Card with food on plates and text">
            </div>

            <div class="component__code">

                <div class="main__card1">

                <div class="ourfood__imagecard">
                    <div class="info__card">
                        <div class="our">
                        <h3>OUR FOOD</h3>
                        <p>Our specialty is a unique style of Hawaiian plate lunch, featuring two scoops of rice, a hemisphere of creamy macaroni salad, and a generous helping of an aloha-infused hot entrée.</p>
                        <div class="button"><a href="#">BROWSE THE MENU</a></div>
                        </div>
                    </div>
                    

                <img 
                    srcset="img/body-card__meal.png 2x"
                    src="img/body-card__meal.png" alt="Table with plates of food and flowers">
                
                
                </div>
            
            
                <div class="mixplate__imagecard">

                    <img 
                    srcset="img/body-card__plate.png 2x"
                    src="img/body-card__plate.png" alt="Plate with fried chicken">

                    <div class="info__card">
                        <div class="mix">
                        <p class="title">L&L hawaiian mixplate</p>
                        <p class="offering">Offering the comfort food of Hawaii</p>
                        <p>Introducing our newest concept. L&L Hawaiian Mixplate, a modern take on the local-style plate lunch where you can customize your own mix and try more flavors of Hawaii.</p>
                        <div class="button"><a href="#">LEARN MORE</a></div>
                        </div>
                    </div>
                        
                </div>

                </div>
            
            </div>

        </article>

<!-- PROMO -->

        <article class="component">
            <h3 class="component__name">Promo Card</h3>

            <div class="component__image">
                <img srcset="img/body-landl.png 2x" src="img/body-landl.png" alt="h2">      
            </div>

            <div class="component__code">
                <div class="promo__card">
                <h2>LUAU & LEARN</h2>
                <p>E Komo Mai (Welcome)! Have a lūʻau and learn with L&L Hawaiian Barbecue!</p>
                <div class="button"><a href="#">VIEW PROMO</a></div>
            </div>
            </div>
        </article>

<!-- MAIN CARD 2 -->      


        <article class="component">
            <h3 class="component__name">Main Card 2</h3>

            <div class="component__image">

                <img 
                    srcset="img/body-card__info.png 2x"
                    src="img/body-card__info.png" alt="Card of three photos and three text boxes">
            </div>

            <div class="component__code">

            <div class="main__card2">  
                <div class="goods">
                <div class="info__card">
                    <h3>FRANCHISE</h3>
                    <h3>OPPORTUNITY</h3>
                    <p>Are you ready for a change? An unique opportunity awaits you to be independent and successful.</p>
                    <div class="button"><a href="#">LEARN MORE</a></div>
                </div>

                
                <img 
                    srcset="img/body-card__serving.png 2x"
                    src="img/body-card__serving.png" alt="Full serving dishes being grabed with thongs">

                <div class="info__card">
                    <h3>GET THE GOODS</h3>
                    <p>Recipe books, hats, gift cards, and an outrageous pair of Hawaii’s #1 comfort board shorts.</p>
                    <div class="button"><a href="#">LEARN MORE</a></div>
                </div>
                </div>
            
                
                <div class="party">
                <img 
                    srcset="img/body-card__owners.png 2x"
                    src="img/body-card__owners.png" alt="Black and white photo of 2 men">
            
                 <div class="info__card">
                    <h3>LET'S PARTY</h3>
                     <p>We can turn just about any special occasion into a Hawaii-themed celebration.</p>
                     <div class="button"><a href="#">LEARN MORE</a></div>
                 </div>

                 <img 
                    srcset="img/body-card__surf.png 2x"
                    src="img/body-card__surf.png" alt="Two babes and one blonde surf dude walking">

                </div>
            
            </div>

            </div> 

        </article>

<!-- FOOTER -->

        <article class="component">
            <h3 class="component__name">Footer</h3>

            <div class="component__image">
                <img 
                    srcset="img/page-footer.png 2x"
                    src="img/page-footer.png" alt="Image of footer">
            </div>

            

            <div class="component__code">

            <div class="footer">

                <ul class="footer__list">
                    <li><a href="#">LOCATIONS</a></li>
                    <li><a href="#">MENU</a></li>
                    <li><a href="#">CATERING</a></li>
                    <li><a href="#">FRANCHISE</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">COMMUNITY</a></li>
                    <li><a href="#">PROMOS</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>

                <div class="bevel">

                <div class="logocopyright">

                <img 
                    srcset="img/page-footer__surfboardlogo.png 2x"
                    src="img/page-footer__surfboardlogo.png" alt="Red and Yellow surfboard logo">

                <p>&#169; 2020 L&L Hawaiian Barbecue</p>

                </div>

                <ul class="socialmedia__list">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                    <li><a href="#">Youtube</a></li>    <!-- <i class="fab fa-youtube-square"></i> -->
                </ul>

                </div>

                <div class="legal">
                <p>All L&L Drive-Inn, L&L Hawaiian Barbecue and L&L Hawaiian Grill locations are individually owned & operated. Store policies regarding pricing, promos, offers & coupons may vary. Inquire within individual L&L location(s) for details. <a href="#">Privacy Policy</a></p>

                <p>Site Design & Development by  <a href="#">Wall-to-Wall Studios</a></p>
                </div>
            </div>

            </div>

        </article>

    </body>

</html>