<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>Components | L&L Hawaiian Barbecue</title>
</head>

<body>

    <header>
        <h1>Web Components will go Here at Some Point or Whatever</h1>
    </header>

<!--TYPOGRAPY-->

        <h2>Typograpy Defaults</h2>

        <article class="component">
            <h3 class="component__name">BODY</h3>

            <div class="component__image">
                <img 
                    srcset="img/body-card__text1.png 2x"
                    src="img/body-card__text1.png" alt="Body Copy">
            </div>

            <div class="component__code">
                <p>Our specialty is a unique style of Hawaiian plate lunch, featuring two scoops of rice, a hemisphere of creamy macaroni salad, and a generous helping of an aloha-infused hot entrée.</p>
            </div>

        </article>

<!--HEADINGS-->

        <article class="component">
            <h3 class="component__name">h2, h3</h3>

            <div class="component__image">
                <img srcset="img/body-luau__title.png 2x" src="img/body-luau__title.png" alt="h2">
                <img srcset="img/body-card__title1.png 2x" src="img/body-card__title1.png" alt="h3">       
            </div>

            <div class="component__code">
                <h2>LUAU &</h2>
                <h2>LEARN</h2>
                <h3>FRANCHISE</h3>
                <h3>OPPORTUNITY</h3>
            </div>

        </article>

<!--BODY LINK-->

        <article class="component">
            <h3 class="component__link">Link</h3>

            <div class="component__image">
                <img srcset="img/body-card__browse.png 2x" src="img/body-card__browse.png" alt="Browse the Menu Button">
                        
            </div>

            <div class="component__code">
                <div class="button">BROWSE THE MENU</div>
            </div>

        </article>

<!--HEADER-->

        <article class="component">
            <h3 class="component__name">Header</h3>

            <div class="component__image">
                <img srcset="img/page-header.png 2x" src="img/page-header.png" alt="Browse the Menu Button">          
            </div>

            <div class="header">

            <div class="component__code">        
                <img srcset="img/page-header__left.png 2x" src="img/page-header__left.png" alt="Red half tone group photo">
            
                
                <a href="#"><img srcset="img/page-header-logo.png 2x" src="img/page-header-logo.png" alt="L&L Logo"></a>
                
                    <ul class="header__list">
                        <li><a href="#">LOCATIONS</a></li>
                        <li><a href="#">MENU</a></li>
                        <li><a href="#">CATERING</a></li>
                        <li><a href="#">FRANCHISE</a></li>
                        <li><a href="#">ABOUT</a></li>
                        <li><a href="#">PROMOS</a></li>
                    </ul>

                <div class="header__location--card">
                    <ul class="location__list">
                        <li>NEAREST LOCATION</li>
                        <li><p>Cannot access</p></li>
                        <li><p>location</p></li>
                        <li class="location__button"><a href="#">ORDER NOW</a></li>

                    </ul>
                </div>

            
                <img srcset="img/page-header__right.png 2x" src="img/page-header__right.png" alt="Red half tone image of a mountain by the ocean">
            </div>
            
            </div>

        </article>

<!--MAIN NAV-->


        <article class="component">
            <h3 class="component__name">Main Nav</h3>

            <div class="component__image">
                <img 
                    srcset="img/main-nav.png 2x"
                    src="img/main-nav.png" alt="Navigation list with image background">
            </div>

            <div class="component__code">
                <div class="main__nav">
                    <ul class="main__nav--list">
                        <li class="main__nav--title">HANG TEN</li>
                        <li><a href="#">LOCATIONS</a></li>
                        <li><a href="#">FOOD</a></li>
                        <li><a href="#">CATERING</a></li>
                        <li><a href="#">FRANCHISE</a></li>
                        <li><a href="#">ABOUT</a></li>
                        <li><a href="#">COMMUNITY</a></li>
                        <li><a href="#">PROMOS</a></li>
                        <li><a href="#">CONTACT</a></li>
                    </ul>
                </div>
            </div>

        </article>

<!--MAIN CARD 1-->


        <article class="component">
            <h3 class="component__name">Main Card 1</h3>

            <div class="component__image">
                <img 
                    srcset="img/body-card__plates.png 2x"
                    src="img/body-card__plates.png" alt="Card with food on plates and text">
            </div>

            <div class="component__code">
                <div class="ourfood__imagecard">
                    <div class="ourfood__card">
                        <h3>OUR FOOD</h3>
                        <p>Our specialty is a unique style of Hawaiian plate lunch, featuring two scoops of rice, a hemisphere of creamy macaroni salad, and a generous helping of an aloha-infused hot entrée.</p>
                        <div class="button">BROWSE THE MENU</div>
                    </div>
                    

                <img 
                    srcset="img/body-card__meal.png 2x"
                    src="img/body-card__meal.png" alt="Table with plates of food and flowers">
                
                
                </div>
            
            
                <div class="mixplate__imagecard">

                    <img 
                    srcset="img/body-card__plate.png 2x"
                    src="img/body-card__plate.png" alt="Plate with fried chicken">

                    <div class="mixplate__card">
                        <h4>L&L hawaiian mixplate</h4>
                        <p>Offering the comfort food of Hawaii</p>
                        <p>Introducing our newest concept. L&L Hawaiian Mixplate, a modern take on the local-style plate lunch where you can customize your own mix and try more flavors of Hawaii.</p>
                        <div class="button">LEARN MORE</div>
                    </div>
                        
                </div>
            
            </div>

        </article>

</body>

</html>