<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>Components | L&L Hawaiian Barbecue</title>
</head>

<body>

    <header>
        <h1>Web Components will go Here at Some Point or Whatever</h1>
    </header>

        <h2>Typograpy Defaults</h2>

        <article class="component">
            <h3 class="component__name">BODY</h3>

            <div class="component__image">
                <img 
                    srcset="img/body-card__text1.png 2x"
                    src="img/body-card__text1.png" alt="Body Copy">
            </div>

        <div class="component__code">
            <p>Our specialty is a unique style of Hawaiian plate lunch, featuring two scoops of rice, a hemisphere of creamy macaroni salad, and a generous helping of an aloha-infused hot entrée.</p>
        </div>

        </article>

        <article class="component">
            <h3 class="component__name">h2, h3, h4</h3>

            <div class="component__image">
                <img srcset="img/body-luau__title.png 2x" src="img/body-luau__title.png" alt="h2">
                <img srcset="img/body-card__title1.png 2x" src="img/body-card__title1.png" alt="h3"> 
                <img srcset="img/body-card__browse.png 2x" src="img/body-card__browse.png" alt="h4">       
            </div>

            <div class="component__code">
                <h2>LUAU & LEARN</h2>
                <h3>FRANCHISE OPPORTUNITY</h3>
                <h4>BROWSE THE MENU</h4>
            </div>

        </article>

        <article class="component">
            <h3 class="component__link">Link</h3>

            <div class="component__image">
                <img srcset="img/body-card__browse.png 2x" src="img/body-card__browse.png" alt="Browse the Menu Button">
                        
            </div>

            <div class="component__code">
                <h4>BROWSE THE MENU</h4>
            </div>

        </article>

</body>

</html>